<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML 문서의 제목입니다.</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/test.css">
</head>
<body>
<div class="main">
    <div class="form_area">
        <span class="title title2">회원가입</span>
        <form>
            <input type="text" placeholder="사용할 아이디"/>
            <input type="password" placeholder="비밀번호"/>
            <input type="password" placeholder="비밀번호 확인"/>
            <input type="text" placeholder="이름"/>
            <input type="text" placeholder="이메일"/>
        </form>
    </div>
</div>
</body>
<script>
</script>

</html>
